.panel {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  display: none;
}
.right-align {
  margin-left: auto;
}
