<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">NBA App</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/teams">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/seasons">Seasons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/player-comparison">Comparison</a>
        </li>
        <div class="nav-item">
          <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="form-inline my-2 my-lg-0">
            <input formControlName="search" class="form-control mr-sm-2" type="search" placeholder="Search Players" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        
          <div class="panel" [style.display]="showResults ? 'block' : 'none'">
            <!-- Botón para cerrar el panel -->
            <button (click)="closeResults()">Close</button>
        
            <ul *ngIf="searchResults.length > 0">
              <li *ngFor="let result of searchResults">
                <a class="nav-link" routerLink="/players/{{result.id}}">{{result.full_name}} - {{result.commonPlayerInfo.TEAM_ABBREVIATION}}</a>
              </li>
            </ul>
          </div>
        
        </div>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/news">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/games">Games</a>
        </li>
      
      
        <li class="nav-item" *ngIf="user">
          <a class="nav-link">{{ user.name }}</a>
        </li>
        <li class="nav-item" *ngIf="user">
          <a class="nav-link" (click)="logout()">logout</a>
        </li>
        <li class="nav-item" *ngIf="!user">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
      
    </div>
  </nav>
  

   <!-- <nav color="primary" class="navbar navbar-expand-lg navbar-light bg-light">
    
    <a mat-button routerLink="/">NBA App</a>
    <span class="flex-spacer"></span>
    <button mat-button routerLink="/teams">Teams</button>
    <button mat-button routerLink="/seasons">Seasons</button>

    <a  [matMenuTriggerFor]="menuPlayers">Players</a>
    <mat-menu #menuPlayers="matMenu">
      <button mat-button routerLink="/player-comparison">Comparison</button>
      <button mat-button routerLink="/players">Players</button>
    </mat-menu>
    <button mat-button routerLink="/news">News</button>
    <button mat-button routerLink="/games">Games</button>
    <span class="flex-spacer"></span>
    <button mat-button routerLink="/login">Login</button>
  
  <nav> -->