<head>
  <title>Teams</title>
</head>
<body>
<h1>TEAMS</h1>

<ul *ngIf="!user">
    <li *ngFor="let team of teams">
      <a [routerLink]="['/teams', team.id, 'players']">{{ team.full_name }} </a> - all rating: {{  ratingsMap[team.id] }} 
    </li>
</ul>
<ul *ngIf="user">
  <li *ngFor="let team of teams">
    <a [routerLink]="['/teams', team.id, 'players']">{{ team.full_name }} </a> - all rating: {{  ratingsMap[team.id] }}  - YOUR RATE: {{userRatingMap[team.id].rating}} - comment: {{userRatingMap[team.id].comment}}
    <br>
    <button class="score-button" (click)="openDialog('team',team.id)">Rate Team</button>
  </li>
</ul>  

</body>