.clickable-link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.score-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
